<?xml version="1.0" encoding="UTF-8" ?>
<service id="friends-microblog">
    <type>microblogging</type>
    <name>Facebook Status via Friends</name>
    <icon>image://theme/icon-m-edit</icon>
    <provider>friends</provider>

    <template>
        <group name="auth">
            <setting name="method">oauth2</setting>
            <setting name="mechanism">user_agent</setting>
            <group name="oauth2">
                <group name="user_agent">
                    <setting name="Host">www.facebook.com</setting>
                    <setting name="AuthPath">/dialog/oauth</setting>
                    <setting name="RedirectUri">https://www.facebook.com/connect/login_success.html</setting>
                    <setting name="Scope" type="as">["publish_stream","read_stream","status_update","user_photos","friends_photos"]</setting>
                </group>
            </group>
        </group>
    </template>
</service>
